@keyframes bounce-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce-up-down {
  animation: bounce-up-down 2.5s infinite ease-in-out;
}
